extends _layout-admin.pug
include _user-list.pug

block vars
  - var group   = data && data.group ? data.group : {};
  - var isEdit    = group._id;
  - var pageTitle = isEdit ? 'group: ' + group.name : 'new group';
  - var pageClass = 'full-width-layout';

block content
  - var group     = data && data.group ? data.group : {};
  - var isEdit    = group._id;
  - var action    = isEdit ? `/groups/${group._id}` : `/groups`;
  - var hasError  = messages.error && messages.error.length;
  - var errors    = hasError ? messages.error[0] : {};

  //- LEFT COLUMN
  if isEdit
    .mdl-cell.mdl-cell--2-col.mdl-color--accent-contrast.mdl-shadow--4dp
      ul.mdl-list
        li.mdl-list__item: a.mdl-list__item-primary-content(href=group.url.newTemplate)
          .material-icons.mdl-list__item-icon web
          | New Template
        li.mdl-list__item: a.mdl-list__item-primary-content(href=group.url.newUser)
          .material-icons.mdl-list__item-icon person_add
          | New User

  //- MAIN CONTENT
  .mdl-cell(class= isEdit ? 'mdl-cell--10-col' : 'mdl-cell--6-col mdl-cell--3-offset')
    .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
      if isEdit
        .mdl-tabs__tab-bar
          a.mdl-tabs__tab(href="#info-panel" class= isEdit ? '' : 'is-active') Informations
          a.mdl-tabs__tab.is-active(href="#template-panel") Templates
          a.mdl-tabs__tab(href="#mailing-panel") Mailings
          a.mdl-tabs__tab(href="#user-panel") Users

      #info-panel.mdl-tabs__panel(class= isEdit ? '' : 'is-active'): .mdl-grid
        form.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp(action=action method="post")
          if group._id
            input(type="hidden" name="id" value=group._id)
          .mdl-card__title
            .mdl-card__title-text informations
          if !group._id
            .mdl-card__supporting-text Groups are a way to share a single templates among many users
          fieldset.mdl-card__supporting-text
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(class= errors.name ? 'is-invalid' : '')
              input.mdl-textfield__input#name-field(type="text" name="name" value=group.name)
              label.mdl-textfield__label(for="name-field") name
              if errors.name
                span.mdl-textfield__error= errors.name.message
          .mdl-card__actions.mdl-card--border
            button(type="submit").mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect save

      if isEdit

        //- /////////
        //- TEMPLATE
        //- /////////

        section#template-panel.mdl-tabs__panel.is-active: .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-cell--top.mdl-card.mdl-shadow--2dp
            .mdl-card__title
              .mdl-card__title-text associated templates

            if !data.templates.length
              .mdl-card__supporting-text: p no templates yet
            else
              table.mdl-data-table.mdl-js-data-table
                thead
                  tr
                    if _config.debug
                      th.mdl-data-table__cell--non-numeric id
                    th.mdl-data-table__cell--non-numeric name
                    th.mdl-data-table__cell--action markup?
                    th.mdl-data-table__cell--non-numeric created at
                    //- th.mdl-data-table__cell--non-numeric updated at
                    th.mdl-data-table__cell--action edit
                    th.mdl-data-table__cell--action delete
                tbody
                  each template in data.templates
                    - var deleteUrl = mergeQueries(template.url.delete, {redirect: template.url.backTo })
                    tr
                      if _config.debug
                        td.mdl-data-table__cell--non-numeric
                          a(href=template.url.show)= template._id
                      td.mdl-data-table__cell--non-numeric
                        a.js-template-name(href=template.url.show)= template.name
                      td.mdl-data-table__cell--action
                        if template.hasMarkup
                          i.material-icons check
                        else
                          i.material-icons report_problem
                      td.mdl-data-table__cell--non-numeric= formatDate(template.createdAt)
                      //- td.mdl-data-table__cell--non-numeric= formatDate(template.updatedAt)
                      td.mdl-data-table__cell--action
                        a.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent(href=template.url.show)
                          i.material-icons mode_edit
                      td.mdl-data-table__cell--action
                        a.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.js-delete-template(href=deleteUrl data-name=template.name)
                          i.material-icons delete_forever

        //- /////////
        //- USERS
        //- /////////

        section#user-panel.mdl-tabs__panel: .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-cell--top.mdl-card.mdl-shadow--2dp
            .mdl-card__title
              .mdl-card__title-text associated users
            if !data.users.length
              .mdl-card__supporting-text: p no users yet
            else
              +user-list()

        //- /////////
        //- MAILINGS
        //- /////////

        section#mailing-panel.mdl-tabs__panel: .mdl-grid
          .mdl-cell.mdl-cell--12-col.mdl-cell--top.mdl-card.mdl-shadow--2dp
            .mdl-card__title
              .mdl-card__title-text Mailings
            if !data.mailings.length
              .mdl-card__supporting-text: p no mailings yet
            else
              table.mdl-data-table.mdl-js-data-table
                thead: tr
                  if _config.debug
                    th.mdl-data-table__cell--non-numeric Id
                  th.mdl-data-table__cell--non-numeric= __('home.saved.name')
                  th.mdl-data-table__cell--non-numeric= __('home.saved.created-by')
                  th.mdl-data-table__cell--non-numeric= __('home.saved.template-name')
                  th.mdl-data-table__cell--non-numeric= __('home.saved.created')
                  th.mdl-data-table__cell--non-numeric= __('home.saved.last-change')
                tbody
                  each mailing in data.mailings
                    tr
                      if _config.debug
                        td.mdl-data-table__cell--non-numeric
                          a(href=mailing.url.update)= mailing._id
                      td.mdl-data-table__cell--non-numeric
                        //- keep alternative __('home.saved.noname')
                        //- Should consolidate DB to always have a name before removing this
                        a(href=mailing.url.update).js-name= mailing.name || __('home.saved.noname')
                      td.mdl-data-table__cell--non-numeric
                        a(href=mailing._user.url.show).js-name= mailing._user.fullname
                      td.mdl-data-table__cell--non-numeric: a(href=mailing._template.url.show)= mailing._template.name
                      td.mdl-data-table__cell--non-numeric: span= formatDate(mailing.createdAt)
                      td.mdl-data-table__cell--non-numeric: span= formatDate(mailing.updatedAt)

