extends _layout-user.pug

block vars
  - var pageTitle = __('layout.mailings.new')
  - var pageClass = 'user-template';

block content

  if !data.templates.length
    h4.home-subtitle= __('general.no-templates')
  else
    h4.home-subtitle= __('general.create-mailing')
    .mdl-grid
      each template, index in data.templates
        - var push = data.templates.length === 1 && index === 0 ? 'mdl-cell--4-offset-desktop' : data.templates.length === 2 & index === 0 ? 'mdl-cell--2-offset-desktop' : '';
        if (template.hasMarkup)
          a.mdl-cell.mdl-card.mdl-shadow--4dp.template-card(href=template.url.create class=push)
            .mdl-card__media.mdl-color--primary
              if template.url.imgCover
                img(width="100%" alt="xx" src=template.url.imgCover)
              else
                img(width="405" heigh="250" src="/placeholder/405x250.png")
            .mdl-card__title: h2.mdl-card__title-text: div(style="text-align: center;")
              | #{template.name}
              if _user.isAdmin
                br
                small — #{template._group.name} —
            if template.description
              .mdl-card__supporting-text= template.description
