doctype html
html(lang=getLocale())
  head
    title= __('layout.title')
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="Title", content=__('layout.title'))
    meta(name="description", content=__('layout.description'))
    meta(name="keywords", content="emailing responsive, éditeur email, editeur emailing, éditeur template email, éditeur newsletter")
    meta(name="author", content="VOXmail")
    meta(name="application-name", content="Email Builder")

    link(rel="shortcut icon", href="/favicon.png", type="image/png")
    link(rel="icon", href="/favicon.png", type="image/png")

    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')

    meta(name="viewport", content="width=1024, initial-scale=1")
    script(src=md5Url('/lib/lib-editor.js') )
    link(rel="stylesheet", href=md5Url('/editor.css') )
    include _brand-colors
    script(src=md5Url('/editor.js'))
    script.
      $(function() {
        if (!Mosaico.isCompatible()) {
          alert('Update your browser!');
          return;
        }
        var basePath  = window.location.protocol + '//#{_config.host}';
        var plugins   = [];
        var ok = Mosaico.init({
          lang:                   '#{getLocale()}',
          strings:                !{ data.translations },
          metadata:               !{ printJS(data.meta) },
          data:                   !{ data.data ? printJS(data.data) : printJS('{}')},
          imgProcessorBackend:    basePath + '/img/',
          emailProcessorBackend:  basePath + '/dl/',
          basePath:               basePath,
          titleToken:             'Responsive Email Designer',
          fileuploadConfig: {
            //- don't prepend basePath
            //- CORS errors can occur while using browsersync
            url: {
              mailing:  '/upload/#{data.meta.id}',
              template: '/upload/#{data.meta._template}',
            },
            // messages are done in app.js#start
          },
          //- this a general config for tinymce
          //- this will be used in custom-extensions.js for both fullOptions & standardOptions
          tinymce: {
            //- https://www.tinymce.com/docs/configure/integration-and-setup/#external_plugins
            external_plugins: {
              paste:        "#{ md5Url('/lib/plugins/paste/plugin.js') }",
              link:         "#{ md5Url('/lib/plugins/link/plugin.js') }",
              hr:           "#{ md5Url('/lib/plugins/hr/plugin.js') }",
              lists:        "#{ md5Url('/lib/plugins/lists/plugin.js') }",
              textcolor:    "#{ md5Url('/lib/plugins/textcolor/plugin.js') }",
              colorpicker:  "#{ md5Url('/lib/plugins/colorpicker/plugin.js') }",
              code:         "#{ md5Url('/lib/plugins/code/plugin.js') }",
            },
            //- https://www.tinymce.com/docs/configure/editor-appearance/#theme_url
            theme_url:      "#{ md5Url('/lib/themes/modern/theme.js') }",
            //- https://www.tinymce.com/docs/configure/editor-appearance/#skin_url
            skin_url:       "/lib/skins/gray-flat",
          },
        }, plugins);
        if (!ok) {
          console.error("config not setted properly");
          $('.mo-standalone').html('<h1>error</h1><h2>config not setted properly</h2>')
        }
      });

  body.mo-standalone
