extends _layout-login.pug

block content
  if data.noToken
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title: .mdl-card__title-text= __('password.title.reset')
      .mdl-card__supporting-text
        .message.error
          p(style="text-align: center;")= __('password.token.invalid') 
  else
    form(action="/password/" + data.token method="post").mdl-card.mdl-shadow--2dp
      .mdl-card__title: .mdl-card__title-text= __('password.title.reset')
      .mdl-card__supporting-text
        if (messages.error)
          .message.error
            each error in messages.error
              p= __(error.message)

        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input.mdl-textfield__input#password-field(type="password" name="password" required)
          label.mdl-textfield__label(for="password-field")= __('password.field.password-new')

        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input.mdl-textfield__input#password-confirm-field(type="password" name="passwordconfirm" required)
          label.mdl-textfield__label(for="password-confirm-field")= __('password.field.password-confirm')

      .mdl-card__actions.mdl-card--border
        button(type="submit").mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
          | #{__('password.action.password-new')}
