extends _layout-admin.pug

block vars
  - var pageTitle = __('layout.templates.list')

block content
  .page-content

    if !data.templates.length
      h4.home-subtitle=__('general.no-templates')
    else

      table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
        thead
          tr
            if _config.debug
              th.mdl-data-table__cell--non-numeric id
            th.mdl-data-table__cell--non-numeric=__('general.template-name')
            th.mdl-data-table__cell--non-numeric=__('general.of-group')
            th.mdl-data-table__cell--action=__('general.markup?')
            th.mdl-data-table__cell--action=__('general.create-mailing')
            th.mdl-data-table__cell--action=__('general.delete')
        tbody
          each template in data.templates
            tr
              if _config.debug
                td.mdl-data-table__cell--non-numeric
                  a(href=template.url.show)= template._id
              td.mdl-data-table__cell--non-numeric
                  a.js-template-name(href=template.url.show)= template.name
              td.mdl-data-table__cell--non-numeric
                a(href=template.url.group)= template._group.name

              td.mdl-data-table__cell--action
                if template.hasMarkup
                  i.material-icons check
                else
                  i.material-icons report_problem
              td.mdl-data-table__cell--action
                a.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent(href='/editor?templateId=' + template._id)
                  i.material-icons library_add
              - var deleteUrl = mergeQueries(template.url.delete, {redirect: '/templates' })
              td.mdl-data-table__cell--action
                a.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.js-delete-template(href=deleteUrl data-name=template.name)
                  i.material-icons delete
